<center>
	<h2> Job Details </h2>
<table >

	<td> Company: </td>
	<td> eLitmus Evaluation Pvt. Ltd </td>
</tr>

<tr> 
	<td>Position: </td>
	<td> Software Developer </td>
</tr>

<tr>
	<td>Job location:  </td>
	<td> Bangalore</td>
</tr>

<tr> 
	<td> Event date:  </td>
	<td> 20 Jun 2014 </td>
</tr>

<tr>
	<td> Last date: </td>
	<td> 19 Jun 2014 </td>
</tr>

<tr> 
	<td> Salary Offered: </td>
	<td> Rs.420000/- </td>
</tr>

<tr>
	<td> Experience Required: </td>
	<td> Fresher </td>
</tr>

</table>
<br>
<a class="btn btn-warning btn-xs" href="https://www.elitmus.com/jobs/31753-elitmus-evaluation-software-developer-bangalore"> For additional details Click here </a>
</center>